{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}WaspIT Dashboard{% endblock %}

{% block page_actions %}
    
{% endblock %}

{% block main %}
    <p>CMS przyszłości</p>
{% endblock %}